[Desktop Entry]
Name=Crypto Prices
Comment=Live cryptocurrency prices for the COSMIC™ desktop
Type=Application
Icon=io.github.Zetakai.cosmic-ext-applet-crypto
Exec=cosmic-ext-applet-crypto %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
